cgi-bin
wp-admin

wp-content/cache
wp-content/jetpack-waf
wp-content/languages
wp-content/uploads

wp-content/themes/*
wp-content/plugins/*

wp-includes
index.php
wp-*.php
xmlrpc.php

/**/.DS_STORE
/**/.idea
/**/.svn
/**/build
/**/node_modules
/vendor
*.map
wp-cli.yml

# Allow local environment overrides.
.wp-env.override.json

# ...except the actual source of this project.
!wp-content/themes/twentyseventeen-wp20
!wp-content/plugins/wp20-meetup-events