cgi-bin
wp-admin

wp-content/cache
wp-content/jetpack-waf

wp-content/themes/index.php
wp-content/themes/twenty*

wp-content/plugins/index.php
wp-content/plugins/akismet
wp-content/plugins/custom-facebook-feed-pro
wp-content/plugins/custom-twitter-feeds-pro
wp-content/plugins/google-language-translator
wp-content/plugins/google-site-kit
wp-content/plugins/instagram-feed-pro
wp-content/plugins/jetpack
wp-content/plugins/jetpack-social
wp-content/plugins/social-wall
wp-content/plugins/surge

wp-content/uploads

wp-includes
index.php
wp-*.php
xmlrpc.php
