cgi-bin
wp-admin

wp-content/cache
wp-content/jetpack-waf

wp-content/themes/index.php
wp-content/themes/twentyseventeen

wp-content/plugins/hello.php
wp-content/plugins/wordpress-importer
wp-content/plugins/index.php
wp-content/plugins/akismet
wp-content/plugins/custom-facebook-feed-pro
wp-content/plugins/custom-twitter-feeds*
wp-content/plugins/google-language-translator
wp-content/plugins/google-site-kit
wp-content/plugins/instagram-feed-pro
wp-content/plugins/jetpack
wp-content/plugins/jetpack-social
wp-content/plugins/social-wall
wp-content/plugins/surge

wp-content/uploads

wp-includes
index.php
wp-*.php
xmlrpc.php

/**/.DS_STORE
/**/.idea
/**/.svn
/**/build
/**/node_modules
/vendor
*.map
wp-cli.yml

# Allow local environment overrides.
.wp-env.override.json

# ...except the actual source of this project.
!/source/wp-content/themes/twnetyseventeen-wp20